body{
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    font-size: .9em;
}

nav{
    clear: both;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
    letter-spacing: 1px;
}

nav a{
    float: right;
    text-decoration: none;
    margin: 1em .7em auto 0.7em;
    color: black;
}

nav a img{
    width: 3em;
    margin-top: -1em;
}

#home-default{
    background: url(../imgs/homescreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* homescreen: */

}

#content{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

h1{
    font-size: 4em;
}

h3{
    font-weight: 300;
    font-size: 1.5em;
}

.button {
    border: none;
    width: 160px;
    padding: .6em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    margin: 1em;
}

.blue-fill{
    color: white;
    background-color: #36CAE8;
    border: 1px solid #36CAE8;
}

.orange-ol{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    background: none;
}
